{
  "parser": "babel-eslint",
  "extends": [
   "standard-react-native"
  ],
  "plugins": [
    "prettier",
    "react-native"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "semi": true
    }]
  }
}
